html {
  background: url(../images/water-park.jpg) no-repeat top left;
}

#ring {
  background: url(../images/water-ring.png) no-repeat top left;
  width: 1200px;
  height: 750px;
  position: relative;
  top: -10px;
  left: -8px;
  z-index: 1;
}

#dolphin {
  position: absolute;
  top: 400px;
  right: 0;
}

/* Write your solution here */

/*Take advantage of media queries using max-width for desktop down and min-width for mobile
 up designs. Also utilize positioning: absolute, as well as properties such as top:, 
 left:, right: ,bottom: to set the animals' positioning. You can also use CSS transform: 
 rotate() if you wish to turn the animals. A single media query should be used to solve 
 each page.*/

 /*For the dolphin, using min-width and max-width help her rotate and jump up through 
 the hoop from screen sizes of 642px to 1090px. Note: you can use transform: rotate() 
 command to accomplish this. */
