html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

/*Also utilize positioning: absolute, as well as properties such as top:,
 left:, right: ,bottom: to set the animals' positioning. You can also use CSS transform:
 rotate() if you wish to turn the animals. A single media query should be used to solve
 each page.*/

 /*For the monkey, use a combination of min-width and max-width to set a media query that
 will allow the monkey to jump up over the Spice Girls
 from screen size of 406px to 1170px keeping him safe from their affection.*/
 @media screen and (max-width: 1170px) and (min-width: 406px) {
   div {
     position: relative;
     top: 0
   }
 }
